/.lake
/.agents
/aristotle
/manuscripts/AHL
/manuscripts/JIS
/manuscripts/ENT/cover
/Old
GetDeps.lean
*.aux
*.bbl
*-blx.bib
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.xcf
*.puml
lean_mcp_wrapper.sh
